sample.xcodeproj/xcshareddata/xcschemes/sample.xcscheme
sample.xcodeproj/xcuserdata/leandroberli.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
sample.xcworkspace/contents.xcworkspacedata
sample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
sample.xcworkspace/xcuserdata/leandroberli.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
